# Virtual Environment
venv/

# Python cache
__pycache__/
*.pyc

# Jupyter checkpoints
.ipynb_checkpoints/
*.ipynb_checkpoints

# VS Code settings
.vscode/

# Environment variables
.env

# Raw datasets
data/raw/

# Training outputs
results/
logs/

# Hugging Face cache
.huggingface/
transformers_cache/

# OS files
.DS_Store
Thumbs.db

# Pytest cache
.pytest_cache/

# Cache
.cache/

models/distilbert_model/